@model DersDagitimProjesi.Models.Ogrenci

@{
    ViewBag.Title = "YeniOgrenci";
    Layout = "~/Views/Shared/_DersLayout.cshtml";
}

<br />
<h1>Yeni Ogrenci Sayfası</h1>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.OgrenciAd)
    @Html.TextBoxFor(x => x.OgrenciAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.OgrenciSoyad)
    @Html.TextBoxFor(x => x.OgrenciSoyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Sinifid)
    @Html.DropDownListFor(x => x.Sinifid,(List<SelectListItem>)ViewBag.dgr1, new {@class= "form-control"})
    <br />
     
    <button class="btn btn-info">Kaydet</button>
</form>